@model MvcMusicStore.Models.Music

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Music</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MusicName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MusicName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MusicPath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MusicPath)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MusicID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
